<div class="flex items-end space-x-3">
  <div class="flex justify-center items-center bg-gray-400 rounded-full min-w-8 size-8 font-semibold text-white text-sm">
    <%= comment.user.username.first.upcase %>
  </div>
  <div class="relative bg-white px-4 py-2 pr-8 rounded-md text-gray-700 text-sm">
    <p class="font-semibold text-gray-900">
      @<%= comment.user.username %>
      <span class="font-light text-gray-500" data-controller="time-ago" data-time-ago-datetime-value="<%= comment.created_at.iso8601 %>">
        <%= time_ago_in_words(comment.created_at) %> ago
      </span>
    </p>
    <p class="mt-1"><%= comment.body %></p>
      <div class="before:bottom-2 before:-left-1 before:absolute before:bg-white before:border-white before:border-t-2 before:border-l-2 rounded-sm before:w-4 before:h-4 before:-rotate-45 before:transform">
  </div>
  </div>
</div>
