<%= turbo_frame_tag post, class: "block" do %>
  <article class="bg-white rounded-2xl overflow-hidden x-auto" data-controller="comments">
    <div class="flex items-start space-x-4 p-4">
      <!-- Avatar -->
      <div class="flex justify-center items-center bg-indigo-500 rounded-full min-w-12 size-12 font-bold text-white text-lg">
        <%= post.user.username.first.upcase %>
      </div>

      <div class="flex-wrap flex-grow">
        <!-- Header -->
        <div class="justify-between items-center">
          <%= link_to post.user.username, class: "text-xl font-bold font-lexend text-gray-900 hover:underline", data: {turbo_frame: "_top"} %>
          <p class="text-gray-500 text-sm italic"
            data-controller="time-ago"
            data-time-ago-datetime-value="<%= post.created_at.iso8601 %>">
            <%= time_ago_in_words(post.created_at) %> ago
          </p>
        </div>
        <!-- Body -->
        <p class="mt-3 border-gray-900 min-h-16 font-lexend text-gray-90">
          <%= post.body %>
        </p>
      </div>
    </div>
  </article>
<% end %>
